extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{titulo}
        blockquote.text-center.mb-5
            p
                | Lee sobre nuestros clientes y sus experiencias

        include ./layout/layout_testimonios

        .row
            .col-md-12
                h2.d-block.w-100.text-center Agrega un Testimonio

                if (errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error.mensaje
            .row.justify-content-center.col
                    form(action="/testimonios" method="POST").col-md-8
                        .row
                            .col-12
                                .form-group
                                    label(style="font-weight: bold;", for="nombre") Nombre
                                    input#nombre(type="text", placeholder="Tu nombre", name="nombre", class="form-control", value=nom)
                        .row
                            .col-12
                                .form-group
                                    label(style="font-weight: bold;", for="correo") Correo Electrónico
                                    input#correo(type="text", placeholder="Tu correo electrónico", name="correo", class="form-control", value=correo)
                        .row
                            .col-12
                                .form-group.mb-3
                                    label(style="font-weight: bold;", for='viaj') Viajes
                                    select#viaj.w-100.mb-3.form-select(name='viaj' value=viaj)
                                        option(value="")
                                        each viaje in viajes
                                            option(value=viaje.id selected=(viaje.id==viaj)) #{viaje.titulo}
                        .row
                            .col-12
                                .form-group
                                    label(style="font-weight: bold;", for="mensaje") Mensaje
                                    textarea#mensaje(class="form-control", name="mensaje", placeholder="Tu Mensaje", rows=3)=mensaje


                        input.btn.btn-success.btn-block(type="submit")