.row.testimonios
    if(testimonios.length!==0)
        each testimonio in testimonios
            .col-md-6.col-lg-4.mb-4
                .card.shadow-lg.border-light
                    .card-body
                        blockquote.blockquote
                            p.mb-0.text-center
                                | "#{testimonio.mensaje}"
                        footer.blockquote-footer.text-right
                            | — #{testimonio.nombre}
                    .card-footer.row
                        .col
                            p.text-center #{viajes[testimonio.viajeId-1].titulo}
                        .col.d-flex.justify-content-end
                            form(action="/borrarTestimonio" method="post")
                                button.btn
                                    input(type="hidden" name="destino" value=destino)
                                    input(type="hidden" name="borrar" value=testimonio.id)
                                    i.bi.bi-trash3
